body,
html {
  background-color: #e9ebee;
  overflow-x: hidden;
}

* {
  font-family: Helvetica;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.line {
  width: 50px;
  height: 5px;
  background-color: #a65200;
  margin: 10px auto;
}

/* o===========>>>>>>>>>> NavBar <<<<<<<<<<===========o */

nav {
  width: 100%;
  height: 80px;
  position: absolute;
  display: flex;
  top: 0;
  z-index: 2222;
  color: #fff;
  font-size: 16px;
  transition: 0.7s;
}

.scrolled {
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  z-index: 2222;
  color: #fff;
  background-color: #0e1015;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  transition: 0.8s;
}

nav div {
  width: 40%;
  padding: 15px;
  text-align: center;
}

nav .logo {
  width: 40%;
  height: 80px;
}

nav .logo img {
  width: 120px;
  height: 120px;
  position: relative;
  bottom: 40px;
}

/* nav items secion */
.nav-list {
  width: 50%;
  min-height: 50px;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.item {
  width: 120px;
  text-align: center;
}

.item a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: border 0.5s;
}

li .scroll.active {
  border-bottom: #ee4800 3px solid;
  padding-bottom: 5px;
}

.bars {
  width: 35px;
  height: 35px;
  padding: 0;
  display: none;
  position: absolute;
  top: 25px;
  right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.bars i {
  font-size: 24px;
}

.bars.clicked {
  transform: rotate(90deg);
}

/* o===========>>>>>>>>>> Home <<<<<<<<<<===========o */

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: 100vh;
  background-image: url("../images/powertower1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.5;
  background-color: #000;
}

.home-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 35%;
  z-index: 1;
  color: #fff;
  line-height: 1.8;
  text-align: center;
  animation: slideUp 1.5s;
}

.home-content h1 {
  font-size: 3em;
  letter-spacing: 20px;
  animation: slideRight 1.5s;
}

.products-btn {
  width: 200px;
  height: 35px;
  margin: 20px auto;
  padding: 6px;
  display: block;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border: 2px #ff4500 solid;
  border-radius: 8px;
}

@keyframes slideRight {
  0% {
    position: relative;
    left: -1700px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}

@keyframes slideUp {
  0% {
    left: -1700px;
  }
  100% {
    left: 0px;
  }
}

/* o===========>>>>>>>>>> Products <<<<<<<<<<===========o */

.products {
  min-height: 700px;
  margin: auto;
}

.products-heading {
  padding: 50px;
}

.products-heading h2 {
  color: #0e1015;
  font-size: 30px;
  font-weight: 300;
  font-family: "Helvetica";
  letter-spacing: 2px;
  text-align: center;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

/* ===>>> Card <<<=== */

.card {
  width: 300px;
  height: 380px;
  margin: 20px 10px;
  border-radius: 14px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-head {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.card-head img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

.card-body {
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
}

.card-body h4 {
  color: #0e1015;
  font-size: 20px;
  margin: 20px auto;
}

.card-head img:hover {
  transform: scale(1.4, 1.4);
}

.card-btn {
  width: 130px;
  height: 30px;
  padding-top: 7px;
  position: absolute;
  right: 28%;
  bottom: 10px;
  color: #fff;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #ee4800;
  text-decoration: none;
  cursor: pointer;
}

/* o===========>>>>>>>>>> About <<<<<<<<<<===========o */

.about {
  width: 100%;
  height: 100%;
  min-height: 500px;
  margin: auto;
  padding: 15px 50px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.about-heading {
  margin-bottom: 20px;
  line-height: 2;
}

.about-heading h3 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #0e1015;
}

.about-body {
  padding: 20px;
  font-size: 18px;
  color: #808080;
  text-align: justify;
}

/* o===========>>>>>>>>>> Team <<<<<<<<<<===========o */

.team {
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  position: relative;
}

.team-hero-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/team.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.team-hero-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #000;
  opacity: 0.8;
}

.team-content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  text-align: center;
}

.team-heading h2 {
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 4px;
}

/* ===>>> members <<<=== */
.members {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}
.member {
  color: #fff;
  text-align: center;
}

.member-img {
  width: 150px;
  height: 150px;
  margin: 35px auto 20px;
  border-radius: 50%;
  overflow: hidden;
}
.member-img img {
  width: 250px;
  height: 166px;
}

.member-info h1 {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 300;
}

.member-info p {
  padding: 0 25px;
  font-size: 16px;
  font-weight: 200;
}

/* o===========>>>>>>>>>> Contact <<<<<<<<<<===========o */

.contact {
  width: 100%;
  min-height: 300px;
  margin: 100px auto 50px;
}

.contact-heading {
  letter-spacing: 8px;
  text-align: center;
  font-size: 1.8em;
}

.contact-heading h2 {
  font-weight: 300;
  color: #282e34;
}

.contact-body {
  min-height: 200px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  color: #3f51b5;
}

.contact-body a {
  text-decoration: none;
  color: #3f51b5;
}

.contact-icon {
  margin: 20px 80px;
  padding: 15px;
  font-size: 40px;
  border: 2px solid #3f51b5;
  border-radius: 50%;
  cursor: pointer;
}

/* o===========>>>>>>>>>> Map <<<<<<<<<<===========o */

.googleMap {
  width: 100%;
  height: 400px;
  margin: 100px auto 0;
  background-color: #808080;
}

#googleMap {
  width: 100%;
  height: 100%;
}

/* o===========>>>>>>>>>> Message <<<<<<<<<<===========o */

.message {
  width: 100%;
  min-height: 600px;
  background-color: #0e1015;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.message > div {
  width: 80%;
  max-width: 1200px;
  min-height: 500px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.email {
  width: 50%;
  height: 100%;
}

.message h1 {
  font-weight: 400;
  color: #1e1e1e;
}

.email input {
  width: 80%;
  height: 30px;
  margin: 20px auto;
  padding: 2px 15px;
  display: block;
  font-weight: 200;
  color: #495057;
  border-radius: 8px;
  border: 1px solid #ced4da;
  transition: 0.3s;
}

.email textarea {
  width: 82%;
  height: 150px;
  padding: 10px;
  font-weight: 200;
  border-radius: 8px;
}

#submit {
  width: 200px;
  margin-top: 20px;
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #a65200;
  cursor: pointer;
}

.get-in-touch {
  width: 50%;
  height: 100%;
}

.more-info p {
  margin-top: 20px;
  text-align: justify;
  font-weight: 100;
  font-size: 1.2rem;
  color: #4e4e4e;
}

.more-info span {
  width: 100%;
  margin: 15px;
  display: block;
  text-align: left;
}

.more-info i {
  margin-right: 10px;
  color: #a65200;
}

/* o===========>>>>>>>>>> Footer <<<<<<<<<<===========o */

.social {
  width: 100%;
  height: 150px;
  text-align: center;
  color: #fff;
  background-color: #0e1015;
}

.social i {
  margin: 10px 15px;
  position: relative;
  top: 15%;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
}

/* o===========>>>>>>>>>> BreakPoints <<<<<<<<<<===========o */

@media only screen and (max-width: 600px) {
  /* navbar */
  .nav-list {
    display: none;
    position: absolute;
    width: 100%;
    top: 35%;
    padding: 0;
  }
  .item {
    margin: 12px auto;
  }

  li .scroll.active {
    border: none;
    color: #ee4800;
  }

  .bars {
    display: block;
  }

  /* hero */
  .bg {
    background-attachment: scroll;
  }

  .main-content h1 {
    font-size: 2em;
    letter-spacing: 10px;
  }

  .main-content p {
    padding: 5px;
  }

  /* products section */
  .section_title {
    padding: 20px;
  }

  .products h2 {
    font-size: 24px;
  }

  /* about section */
  .about {
    padding: 15px;
  }

  .about-heading h3 {
    font-size: 24px;
  }

  /* Team section */
  .team_bg {
    background-attachment: scroll;
  }

  /* map section */
  .googleMap {
    margin-top: 50px;
  }

  /* message */
  .message {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .email {
    width: 100%;
    height: 100%;
  }

  .get_in_touch {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* navbar */
  /* .item {
    width: 20%;
  } */

  /* .bg {
    background-attachment: scroll;
  }

  .team_bg {
    background-attachment: scroll;
  } */
}
