body,
html {
  background-color: #e9ebee;
  overflow-x: hidden;
}

* {
  font-family: Helvetica;
}
/*  NavBar */

nav {
  width: 100%;
  height: 80px;
  position: absolute;
  display: flex;
  top: 0;
  z-index: 2222;
  color: #fff;
  font-size: 16px;
  transition: 0.7s;
}

.scrolled {
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  z-index: 2222;
  color: #fff;
  background-color: #0e1015;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  transition: 0.8s;
}

nav div {
  width: 40%;
  padding: 15px;
  text-align: center;
}

nav .logo {
  width: 40%;
  height: 80px;
}

nav .logo img {
  width: 120px;
  height: 120px;
  position: relative;
  bottom: 40px;
}

/* nav items secion */
.nav-list {
  width: 50%;
  min-height: 50px;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.item {
  width: 120px;
  text-align: center;
}

.item a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: border 0.5s;
}

.bars {
  width: 35px;
  height: 35px;
  padding: 0;
  display: none;
  position: absolute;
  top: 25px;
  right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.bars i {
  font-size: 24px;
}

.bars.clicked {
  transform: rotate(90deg);
}

/****************  Hero  ****************/

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.bg {
  width: 100%;
  height: 100%;
  background-image: url("../images/powertower1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
}

.main-content {
  z-index: 1;
  position: absolute;
  width: 100%;
  line-height: 1.8;
  text-align: center;
  top: 35%;
  color: #fff;
  animation: slideUp 1.5s;
}

.main-content h1 {
  font-size: 3em;
  letter-spacing: 20px;
  animation: slideRight 1.5s;
}

.products-btn {
  border: 2px #ff4500 solid;
  border-radius: 8px;
  display: block;
  margin: 20px auto;
  color: #fff;
  text-decoration: none;
  padding: 6px;
  width: 200px;
  height: 35px;
  font-size: 18px;
}

@keyframes slideRight {
  0% {
    position: relative;
    left: -1700px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}

@keyframes slideUp {
  0% {
    left: -1700px;
  }
  100% {
    left: 0px;
  }
}

/* about */

.about {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  margin: auto;
  padding: 15px 50px;
  min-height: 500px;
  font-family: "helvetica";
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.about-heading {
  text-align: center;
  line-height: 2;
  margin-bottom: 20px;
}

.about-heading h3 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #0e1015;
  font-family: "Helvetica";
}

.about-content {
  padding: 20px;
  text-align: justify;
  color: #808080;
  font-size: 18px;
}

/* products */
.sample_section {
  min-height: 700px;
}

.sample_title {
  padding: 50px;
}

.sample_section h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #0e1015;
  font-family: "Helvetica";
}

.sample {
  width: 100%;
  height: 100%;
  /* margin-top: 20px;
    margin-bottom: 100px; */
  position: relative;
  display: flex;
  align-items: center;
}

/* .products_sample_bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/powertower2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.products_sample_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  opacity: 0.6;
} */

.products_sample {
  height: 350px;
  width: 100%;
  position: absolute;
  z-index: 2;
  padding: 10px 50px;
}

.products_sample h2 {
  text-align: center;
}

.products_sample_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.products_sample_list li {
  width: 25%;
}

/*  contact */
.contact {
  width: 100%;
  min-height: 300px;
}

.contact_widget {
  margin: 100px auto 50px;
  width: 100%;
  height: 100%;
  color: #3f51b5;
  text-align: center;
}

.contact_heading {
  font-size: 1.8em;
  letter-spacing: 8px;
  color: #282e34;
  text-align: center;
}

.contact_heading h2 {
  font-weight: 300;
}

.contact_main {
  color: #808080;
}

.contact_methods {
  min-height: 200px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact_method_icon {
  color: #3f51b5;
  font-size: 40px;
  border: 2px solid #3f51b5;
  border-radius: 50%;
  margin: 20px 80px;
  padding: 15px;
  cursor: pointer;
}

/*  Footer  */
.social {
  background-color: #0e1015;
  text-align: center;
  width: 100%;
  height: 150px;
  color: #fff;
}

.social i {
  position: relative;
  top: 15%;
  margin: 10px 15px;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
}

/* list */

.products-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

/*  Card */
.card {
  width: 300px;
  height: 350px;
  background-color: #fff;
  margin: 20px 10px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.card_head {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.card_head img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

.card_body {
  text-align: center;
}

.card_body h4 {
  color: #0e1015;
  font-size: 20px;
  margin: 20px auto;
}

.card_body a {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  padding-top: 7px;
}

.card_head img:hover {
  transform: scale(1.4, 1.4);
}

/* Team */
.team {
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  position: relative;
}

.team_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/team.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.team_bg_overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
}

.team_main {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  text-align: center;
}

.team_main h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 4px;
}

/*  line  */
.line {
  width: 50px;
  height: 5px;
  background-color: #a65200;
  margin: 10px auto;
}

.btn {
  margin: auto;
  display: block;
  width: 130px;
  height: 30px;
  color: #fff;
  background-color: #ee4800;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* map */
.googleMap {
  width: 100%;
  height: 400px;
  margin: 100px auto 0;
  background-color: #808080;
}

#googleMap {
  width: 100%;
  height: 100%;
}

/*  message  */

.message {
  width: 100%;
  min-height: 600px;
  background-color: #0e1015;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.message > div {
  width: 80%;
  min-height: 500px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.email {
  width: 50%;
  height: 100%;
}

.message h1 {
  font-weight: 400;
  color: #1e1e1e;
}

.email input {
  width: 80%;
  height: 30px;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  border: 1px solid #ced4da;
  color: #495057;
  padding: 2px 15px;
  transition: 0.3s;
  font-weight: 200;
}

.email textarea {
  width: 82%;
  height: 150px;
  border-radius: 8px;
  padding: 10px;
  font-weight: 200;
}

.get_in_touch {
  width: 50%;
  height: 100%;
}

.get_in_touch p {
  margin-top: 20px;
  text-align: justify;
  font-weight: 100;
  font-size: 1.2rem;
  color: #4e4e4e;
}
/* members */
.members {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.member {
  text-align: center;
  color: #fff;
}

.member_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 35px auto 20px;
}
.member_img img {
  width: 250px;
  height: 166px;
}

.member-info h1 {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 36px;
}

.member-info p {
  font-weight: 200;
  font-size: 16px;
  padding: 0 25px;
}

/* submit button */
#submit {
  width: 200px;
  margin-top: 20px;
}

/* active */
li .scroll.active {
  border-bottom: #ee4800 3px solid;
  padding-bottom: 5px;
}

/* BreakPoints */

@media only screen and (max-width: 600px) {
  /* navbar */
  .nav-list {
    display: none;
    position: absolute;
    width: 100%;
    top: 35%;
    padding: 0;
  }
  .item {
    margin: 12px auto;
  }

  li .scroll.active {
    border: none;
    color: #ee4800;
  }

  .bars {
    display: block;
  }

  /* hero */
  .bg {
    background-attachment: scroll;
  }

  .main-content h1 {
    font-size: 2em;
    letter-spacing: 10px;
  }

  .main-content p {
    padding: 5px;
  }

  /* products section */
  .sample_title {
    padding: 20px;
  }

  .sample_section h1 {
    font-size: 24px;
  }

  /* about section */
  .about {
    padding: 15px;
  }

  .about-heading h3 {
    font-size: 24px;
  }

  /* Team section */
  .team_bg {
    background-attachment: scroll;
  }

  /* map section */
  .googleMap {
    margin-top: 50px;
  }

  /* message */
  .message {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .email {
    width: 100%;
    height: 100%;
  }

  .get_in_touch {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* navbar */
  /* .item {
    width: 20%;
  } */

  /* .bg {
    background-attachment: scroll;
  }

  .team_bg {
    background-attachment: scroll;
  } */
}
